<footer class="site-footer">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="row">
    <div class="col-sm-4">
        <h3>Growing Gold Consulting</h3>
      <p>We Offer Comprehensive Consulting, Management, and Product Solutions within the Cannabis Industry nationwide. We are competitive with our knowledge, experience, and innovation for commercial cannabis cultivation.</p>
      </div>
      <div class="col-sm-4">
        <ul class="footer-nav text-center">
          <li>Home</li>  
          <li>FAQ</li>
            <li>Services</li>
            <li>Blog</li>
            <li>About</li>
            <li>Contact</li>
        </ul>
      </div>
      <div class="col-sm-4">
      <form action="/action_page.php" style="width:80%">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="textfield">Subject:</label>
    <input type="text" class="form-control" id="text">
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
      </div>
    </div>
    <div class="row">
        <div class="col-12">
         &copy;Copyright 2018-2019 Growing Gold Consulting. All Rights Reserved. <a href="http://www.freepik.com/">Vectors&nbsp; by Freepik.</a> Design by RMK.
        </div>
    </div>
</footer>
