<footer class="site-footer">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="row">
    <div class="col-sm-4">
        <img src="{{ "/assets/img/logo-portrait.png" | relative_url }}" style="height:150px;display:block;margin:10px auto">
      </div>
      <div class="col-sm-4">
        <ul class="footer-nav text-center">
          <li><i class="fab fa-instagram"></i></li>  
          <li><i class="fab fa-facebook-square"></i></li>
          <li><i class="fab fa-twitter-square"></i></li>
        </ul>
      </div>
      <div class="col-sm-4">
      <form action="/action_page.php" style="width:80%">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="textfield">Subject:</label>
    <input type="text" class="form-control" id="text">
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
      </div>
    </div>
    <div class="row">
        <div class="col-12" style="padding-top:50px">
         &copy;Copyright 2018-2019 Growing Gold Consulting. All Rights Reserved. <a href="http://www.freepik.com/">Vectors&nbsp; by Freepik.</a> Design by RMK.
        </div>
    </div>
</footer>
