---
layout: default
---

<section class="container-fluid">
  <div class="row">
      <div class="full-width-img full-width-img-1 row">
          <div styyle="height:100vh;width:40vw;background:white"></div>
</div><!-- /full-width-img -->
      </div><!-- /row -->
    
    <div class="row" style="padding-top:25px">
        <div class="col-12 col-sm-6">

  <div><img src="{{ "/assets/img/holding-plant-icon.png" | relative_url }}" class="img-icon"></div>

        </div><!-- /col-6 -->

      <div class="col-12 col-sm-6">
          
          <div>
    <h5 class="card-title text-center">Operations</h5>
    <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
          
        </div><!-- /col-6 -->
</div><!-- /row -->
    
     <div class="row" style="padding-top:25px">
      <div class="col-12 col-sm-6">
          
          <div>
    <h5 class="card-title text-center">Operations</h5>
    <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
          
        </div><!-- /col-6 -->
         <div class="col-12 col-sm-6">

  <div><img src="{{ "/assets/img/holding-plant-icon.png" | relative_url }}" class="img-icon"></div>

        </div><!-- /col-6 -->
</div><!-- /row -->
    
     <div class="row" style="padding-top:25px">
        <div class="col-12 col-sm-6">

  <div><img src="{{ "/assets/img/holding-plant-icon.png" | relative_url }}" class="img-icon"></div>

        </div><!-- /col-6 -->

      <div class="col-12 col-sm-6">
          
          <div>
    <h5 class="card-title text-center">Operations</h5>
    <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
          
        </div><!-- /col-6 -->
</div><!-- /row -->
    
     <div class="row" style="padding-top:25px">
      <div class="col-12 col-sm-6">
          
          <div>
    <h5 class="card-title text-center">Operations</h5>
    <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
          
        </div><!-- /col-6 -->
        <div class="col-12 col-sm-6">

  <div><img src="{{ "/assets/img/holding-plant-icon.png" | relative_url }}" class="img-icon"></div>

        </div><!-- /col-6 -->
</div><!-- /row -->
    
     <div class="row" style="padding-top:25px">
        <div class="col-12 col-sm-6">

   <div><img src="{{ "/assets/img/holding-plant-icon.png" | relative_url }}" class="img-icon"></div>

        </div><!-- /col-6 -->

      <div class="col-12 col-sm-6">
          
          <div>
    <h5 class="card-title text-center">Operations</h5>
    <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
          
        </div><!-- /col-6 -->
</div><!-- /row -->

    
    
    <div class="row row-adjust">
      <div class="full-width-img full-width-img-1 row">
          <div class="col-sm-12" style="top:50px;padding-left:25px">
              <i class="fas fa-check-double" style="font-size:5rem;display:inline-block;position:relative;top:35px"></i>
            <h2 style="display:inline">Changing the cannabis industry&#44;</h2>
            <h2 style="display: block;left: 250px;position: relative">one grow at a time.</h2>
          </div>
          <div class="col-sm-3">
              <div class="text-center" style="font-weight: 700;font-size: 2rem">655k ft&sup2;</div>
            <h4 class="text-center">Cultivation Spaced Built</h4>
              <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <div class="col-sm-3">
              <div class="text-center" style="font-weight: 700;font-size: 2rem">437lbs</div>
            <h4 class="text-center">Quality Product Produced</h4>
              <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <div class="col-sm-3">
              <div class="text-center" style="font-weight: 700;font-size: 2rem">50%</div>
            <h4 class="text-center">Business Growth per Year</h4>
              <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <div class="col-sm-3">
              <div class="text-center" style="font-weight: 700;font-size: 2rem">100&#39;s</div>
            <h4>Businesses Advanced</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
    </div>
    
    
    <div class="row row-adjust">
  
      <article class="blog-preview-box">
        {% for post in site.posts limit:5  %}
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          
          <div class="blog-preview-item">
		<h3 class="blog-preview-title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
          <div class="blog-preview-date"><span class="post-meta">{{ post.date | date: date_format }}</span></div>
              </div><!-- .blog-preview-item -->

 {% endfor %}
	</article><!-- .blog-preview-box -->

  </div><!-- .row -->

</section><!-- .container-fluid -->